<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Projet/Parking%20final/
    
    # Ne pas rediriger les fichiers et dossiers existants
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Rediriger toutes les autres requêtes vers index.php
    RewriteRule ^ index.php [L]
</IfModule>
